.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg);
  margin: 0 auto;
  margin-top: 70px;
  padding: 23px 0;
  color: var(--text-primary-color);
}

.footer__content {
  display: flex;
  align-items: flex-start;
  width: 1100px;
  column-gap: 115px;
}

.footer__column--left {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.footer__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--text-secondary-color);
}

.footer__logo img {
  margin-right: 6px;
}

.footer__logo-text {
  font-size: 20px;
  font-weight: 700;
}

.footer__phone {
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  color: var(--text-primary-color);
  margin-top: 35px;
}

.footer__subtitle {
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: var(--text-color-footer);
  margin-top: 8px;
}

.footer__column--center {
  display: flex;
  gap: 60px;
}

.footer__menu-title {
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  color: var(--text-primary-color);
}

.footer__list {
  list-style: none;
  margin-top: 6px;
}

.footer__item {
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  color: var(--text-color-footer);
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer__item + .footer__item {
  margin-top: 6px;
}

.footer__item:hover {
  color: var(--text-secondary-color);
}

.footer__social-media {
  display: flex;
  align-items: center;
  gap: 33px;
}

.footer__social-media img {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.footer__social-media img:hover {
  opacity: 0.7;
}

.footer__watermark {
  font-size: 12px;
  line-height: 120%;
  font-weight: 500;
  color: var(--text-color-footer);
  margin-top: 10px;
}

.footer__watermark + .footer__watermark {
  margin-top: 6px;
}

.footer__column--right {
  margin-left: auto;
}
