.header {
  background-color: var(--main-bg);
  height: 100px;
  display: flex;
  align-items: center;
}

.header_top {
  display: flex;
  justify-content: space-between;
  padding-right: 166.92px;
  padding-left: 165px;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.text_header {
  font-size: 20px;
  line-height: 100%;
  font-weight: 700;
}

.header_menu {
  list-style-type: none;
  width: fit-content;
  display: flex;
  align-items: center;

  li {
    margin-right: 60px;
  }

  li:hover {
    color: #fff;
  }

  .text_menu {
    font-weight: 500;
  }
}

.logo {
  display: flex;
  cursor: pointer;
  align-items: center;

  & img {
    margin-right: 8px;
  }

  .color_text_logo {
    color: var(--text-secondary-color);
  }
}
.header_cart {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.img_cart:hover {
  filter: brightness(0) invert(1);
}
