.header {
  background-color: var(--main-bg);
  height: 100px;
  display: flex;
  align-items: center;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo__image {
  margin-right: 8px;
}

.logo__text {
  font-size: 20px;
  line-height: 100%;
  font-weight: 700;
  color: var(--text-secondary-color);
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 60px;
}

.nav__item {
  cursor: pointer;
  font-weight: 500;
}

.nav__item:hover {
  color: var(--text-color-active);
}

.header__cart {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cart__icon:hover {
  filter: brightness(0) invert(1);
}
