.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto 70px auto;
  gap: 30px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero__title {
  font-size: 60px;
  line-height: 110%;
  font-weight: 500;
}

.hero__title-accent {
  color: var(--text-secondary-color);
}

.hero__text {
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  color: var(--text-secondary-2-color);
  margin-top: 20px;
}

.hero__btn {
  margin-top: 60px;
  width: 227px;
}
