.section_1
{ display: flex;
    justify-content: center;
  align-items: center;
  width: 100%;
  width: 100%;
  margin: 0 auto;
}

.section_1 h2 {
font-family: "Raleway", sans-serif;
font-size: 60px;
line-height: 110%;
font-weight: 500;
margin-bottom: 20px;
}

.h2_span {
    color: #598D66;
}

.section_1 p {
font-family: "Raleway", sans-serif;
font-size: 18px;
line-height: 150%;
font-weight: 500;
color: #86928B;
margin-bottom: 60px;
}

.section_1_but {
    background-color: transparent;
    color: #598D66;
    border: 1px solid #598D66;
    padding: 21px 60px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
font-size: 20px;
line-height: 100%;
font-weight: 500;
}

.section_1_but:hover {
      color: #89b79c;
      border: 1px solid #89b79c;
}

.section_1_content {
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 560px;
}

.section_1_img {
    width: 560px;
}