.section-3 {
  display: flex;
  width: 100%;
  height: 574px;
  margin: 0 auto;
  position: relative;
  align-items: center;
  padding: 70px 165px;
  margin-top: 70px;

  .section-3__background {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:after {
    content: "";
    background: url("../img/gradient.png") no-repeat center;
    width: 1004px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &:before {
    content: "";
    background: url("../img/grad.png") no-repeat center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 70%;
    mix-blend-mode: soft-light;
    z-index: 2;
  }
}

.section-3__content {
  z-index: 3;
  position: relative;
  max-width: 540px;

  .section-3__content_headline {
    display: flex;
    margin-bottom: 20px;

    h3 {
      color: var(--text-color-active);
      font-size: 40px;
      line-height: 100%;
      font-weight: 500;
      margin-left: 20px;
    }
  }
  p {
    color: var(--text-color-active);
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
  }

  p + p {
    margin-top: 20px;
  }
}
