.section_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1110px;
  margin: 0 auto;
  margin-bottom: 70px;

  & h2 {
    font-size: 60px;
    line-height: 110%;
    font-weight: 500;
  }

  & .h2_span {
    color: #598d66;
  }

  & p {
    margin-top: 20px;
  }

  p {
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    color: #86928b;
  }

  .primary-btn {
    margin-top: 60px;
    width: 227px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  img {
    margin-right: 30px;
  }
}
