.section_2 {
  display: flex;
  flex-direction: column;
  width: 1110px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 100px;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 40px;
    line-height: 110%;
    font-weight: 500;
    color: #2c2d35;
  }
}
.section_2_product {
  padding: 20px 20px 30px;
  background-color: var(--main-bg);
  max-width: 350px;

  & img {
    margin-bottom: 20px;
  }

  & h4 {
    margin-top: 10px;
  }

  & .section_2_product__description {
    margin-top: 8px;
  }

  & .section_2_product__price {
    margin-top: 30px;
  }

  & button {
    margin-top: 20px;
  }

  .text_style {
    line-height: 100%;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
  }

  h4 {
    font-size: 30px;
    line-height: 100%;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
  }

  .section_2_product__description {
    font-size: 18px;
  }

  .section_2_product__image-title {
    color: var(--text-secondary-2-color);
    font-size: 18px;
  }

  .section_2_product__price {
    color: var(--text-secondary-color);
    font-size: 24px;
  }
}

.button-group {
  display: flex;
  gap: 32px;

  & input[type="radio"] {
    display: none;
  }
}
.tab-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--button-primary-focus-color);
  color: var(--text-primary-color);
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
}

input[type="radio"]:checked + label {
  background-color: var(--button-primary-color-active);
  color: var(--text-color-active: );
}

.section_2_product,
.section_2_product_2,
.section_2_product_3 {
  width: 350px;
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
  padding: 20px 20px 30px 20px;
}

.group-fr,
.group-de,
.group-en {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.s_2_product_3 {
  display: flex;
  gap: 30px;
}

.s_2_all_product > div,
.s_2_all_product_2 > div,
.s_2_all_product_3 > div {
  display: none;
}

.section_2:has(#tab1:checked) .group-fr,
.section_2:has(#tab2:checked) .group-de,
.section_2:has(#tab3:checked) .group-en {
  display: flex;
}
