:root {
  --text-primary-color: #2c2d35;
  --text-secondary-color: #598d66;
  --text-secondary-2-color: #86928b;
  --text-color-active: #fff;
  --focus-bg: #00df38;
  --main-bg: #e1ede6;
  --button-primary-hover-color: #598d66;
  --button-primary-focus-color: #d4e8d9;
  --button-primary-color-active: #376b44;
}
